<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title></title>  
    <link rel="stylesheet" href="__PUBLIC__/admin/css/pintuer.css">
    <link rel="stylesheet" href="__PUBLIC__/admin/css/admin.css">
    <script src="__PUBLIC__/admin/js/jquery.js"></script>
    <script src="__PUBLIC__/admin/js/pintuer.js"></script>  
</head>
<body>
<form method="post" action="">
  <div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder">评论管理</strong></div>
    <div class="padding border-bottom">
      <ul class="search">
        <li>
          <button type="button"  class="button border-green" id="checkall"><span class="icon-check"></span> 全选</button>
          <button type="submit" class="button border-red"><span class="icon-trash-o"></span> 批量删除</button>
        </li>
      </ul>
    </div>
    <table class="table table-hover text-center">
      <tr>
        <th width="120">ID</th>
        <th>昵称</th>       
        <th>用户头像</th>
        <th>文章id</th>
        <th>上级评论id</th>
        <th width="25%">内容</th>
         <th width="120">评论时间</th>
        <th>操作</th>       
      </tr>
      <foreach name="commentlist" item="comment">      
        <tr>
          <td><input type="checkbox" name="id[]" value="1" />{$comment[id]}</td>
          <td>{$comment[uname]}</td>
          <td><img src=""/></td>
          <td>{$comment[cid]}</td>  
          <td>{$comment[pid]}</td>         
          <td>{$comment[content]}</td>
          <td>{$comment[ctime]}</td>
          <td><div class="button-group"> <a class="button border-red" href="javascript:void(0)" onclick="return del({$comment[id]})"><span class="icon-trash-o"></span> 删除</a> </div></td>
        </tr>
        </foreach> 
      <tr>
        <td colspan="8"><div class="pagelist"> <a href="">上一页</a> <span class="current">1</span><a href="">2</a><a href="">3</a><a href="">下一页</a><a href="">尾页</a> </div></td>
      </tr>
    </table>
  </div>
</form>
<script>

function del(cid){
	if(confirm("您确定要删除吗?")){
		var parm = {
			type:'get',
			data:{id:cid},
			success:function(meg){
				if('success'== meg){
					$('td:contains('+cid+')').parent().remove();
				}else{
					alert('删除失败');
				}
			}
		};
		$.ajax("{:U('Admin/Comment/commentdel')}",parm);
	}
}

$("#checkall").click(function(){ 
  $("input[name='id[]']").each(function(){
	  if (this.checked) {
		  this.checked = false;
	  }
	  else {
		  this.checked = true;
	  }
  });
})

function DelSelect(){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){
		var t=confirm("您确认要删除选中的内容吗？");
		if (t==false) return false; 		
	}
	else{
		alert("请选择您要删除的内容!");
		return false;
	}
}

</script>
</body></html>